@media (max-width: 765px) {
    .desktop{display: none;}
    .mobile{display: block;}
    .header_menu_container{
        display: none;
    }

    .index_main{
        height: 100%;
        display: flex;
        padding-top: 0px;
        background-image: url(../assets/main_background_mobile.jpg);
        background-position: right bottom;
        align-items: center;
    }

    .about_main{
        background-color: #efefef;
    }

    .main_text_container{
        margin: 10px;
    }

    .copyright{
        font-size: .6rem;
    }

    .footer_line_container{
        display: none;
    }

    .main{
        flex-direction: column;
        justify-content: end;
    }
    .trab_image{
        margin-top: 40px;
        width: 200px;
    }

    .about_text{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .about_text_container{
        font-size: 1rem;
    }

    .about_image{
        display: none;
    }
}

@media (min-width: 766px) {
    .desktop{display: block;}
    .mobile{display: none;}
}