*, html{
   padding: 0px;
   margin: 0px; 

   font-family: 'Inter', sans-serif;
}

.mobile{
    display: none;
}
.desktop{
    display: block;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #ffdd00;
}

.main{
    height: 74%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.text{
    font-size: 1.5rem;
    text-align: center;
}

.previous{
    display: inline-block;
    color: black;
    padding: 10px;
    border: 2px solid black;
    text-decoration: none;
    margin-top: 40px;
}