/*Configurações gerais*/
html,body{
    font-family: "Roboto", sans-serif;
    background-color: #023059;
    color: #fff;

    margin: 0px;
    padding: 0px;
}

/*Cabeçalho*/
.main-header{
    width: 100%;
    height: 5rem;
    background-color: #fff;
    position: fixed;
    z-index: 1;
}

.menu-header{
    padding: 0px 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-menu{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #023059;
    text-decoration: none;
}

.logo-menu img{
    width: 70px;
}

.btn-menu{
    cursor: pointer;
}

.btn-menu span{
    font-size: 2.5rem;
    color: #023059;
    font-weight: bold;
}

/*Banner*/

.banner-bgd{
    width: 100%;
    height: 800px;
    background-image: url(../images/banner-600px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-content-wrapper{
    position: absolute;
    top: 250px;
    width: 100%;
}

.banner-content{
    position: relative;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    text-align: left;
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.banner-content h1{
    font-size: 3rem;
    font-weight: bold;
}

.banner-content p{
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.banner-btn{
    background-color: #F2B705;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

/*Sobre nós*/

.about{
    margin-top: 50px;
    padding: 10px;
}

.about-title-wrapper{
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

.about-title-wrapper h2{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.about p{
    margin-top: 30px;
    line-height: 2rem;
}

.about-boxes-wrapper{
    min-height: 400px;
    margin: 0px 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.box{
    display: flex;
    align-items: center;
    background-color: #023059;
    padding: 20px 20px 20px 0px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    color: #F2B705;
    border: 2px solid #F2B705;
}

.box:hover{
    background-color: #fff;
    color: #023059;
    border: none;
    transition: .1s;
}

.box-icon{
    width: 50px;
    height: 0px;
    border-right: 50px solid transparent;
    border-top: 70px solid #F2B705;
}

.box-content{
    width: 100%;
    text-align: center;
}

.box-content h2{
    margin: 0px 5px;
}

.box-content p{
    margin: 0px;
    margin-bottom: 10px;
}

.third-section{
    height: 700px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    height: 400px;
    transition: .5s;
}

.manual-navigation{
    position: absolute;
    margin-top: -40px;
    width: 800px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    margin-top: 360px;
    width: 800px;
    display: flex;
    justify-content: center;
}

.navigation-auto div{
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}

.navigation-auto div:not(:last-child){
    margin-right: 10px;
}