@charset "UTF-8";

/*Paleta
#024554
#A8B545
#C2C0A6*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #A8B545;
    box-sizing: border-box;
}
section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 450px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400);
    overflow: hidden;

    transition: width .5s, height .5s;
}
div#img{
    background: #A8B545 url(../imagens/pattern.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 200px;
}
div#form{
    padding: 5px;
}
div#form > h1, div#form > p{
    text-align: center;
}
div.campo{
    display: block;
    height: 30px;
    margin-top: 5px;
    background-color: #C2C0A6;
    border-radius: 5px;
    border: 2px solid #C2C0A6;
}
div.campo > span{
    color: #024554;
    font-size: 2em;
}
div.campo > input{
    width: calc(100% - 36px);
    height: 100%;
    background-color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    transform: translateY(-12px);
}
div.campo label{
    display: none;
}
form > input[type="submit"]{
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    background-color: #024554;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}
form> input[type="submit"]:hover{
    background-color: #035769;
}
div#botao{
    width: 100%;
    height: 30px;
}
div#botao > a{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #035769;
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 1em;
    color: #024554;
}
div#botao > a:hover{
    background-color: #024554;
    color: #035769;
}
div#botao > span{
    color: #024554;
}