@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --dark-1: #002832;
    --dark-2: #003D4D;
    --dark-3: #006680;
    --light: #00AAB4;
    --white: #fff;
    --contrast: #FF961E;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    font-weight: normal;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
}

strong{
    color: #FF961E;
    font-weight: bold;
}

.nav-bar-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-1);
    width: 90%;
    height: 50px;
    border-radius: 25px;
    font-size: 2em;
    margin-top: 10px;
}

.nav-link{
    text-decoration: none;
    color: var(--white);
    font-size: .4em;
}

.logo{
    font-size: .7em;
    font-weight: bold;
    text-align: center;
    padding: 6px;
    margin: 6px;
    color: var(--dark-1);
    background-color: var(--white);
    border-radius: 50%;
}

.menu-toggle{
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: .8em;
}

.menu-toggle > button{
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
}

.menu-hide{
    transition: .5s;
    display: none;
}

.menu-open{
    transition: .5s;
    display: block;
}

.background-blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #003e4dcc;
}

.nav-menu{
    position: absolute;
    width: 90%;
    background-color: #002832ec;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.678);
}

.close-container{
    text-align: right;
}

.close-btn{
    background: none;
    border: none;
    color: var(--white);
    font-size: 2em;
    cursor: pointer;
    margin-right: 20px;
}

.close-btn:hover{
    font-size: 2.2em;
    transition: .1s;
}

.nav-items{
    text-align: center;
    list-style: none;
}

.nav-list-item{
    margin-bottom: 10px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

.nav-item{
    text-decoration: none;
    font-size: 1.5em;
    color: var(--white);
}
.nav-item:hover{
    transition: .1s;
    font-size: 1.7em;
}

.about{
    margin-top: 70px;
}

.about-title{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.about-text{
    max-width: 400px;
    text-align: justify;
    margin: auto;
    margin-top: 25px;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.button{
    padding: 7px;
    background-color: var(--dark-2);
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
    font-weight: bold;
}

.button:hover{
    transition: .1s;
    background-color: var(--white);
    border: 2px solid var(--dark-1);
    color: var(--dark-1);
}

.light{
    background-color: var(--white);
    border: 2px solid var(--dark-1);
    color: var(--dark-1);
}

.light:hover{
    transition: .1s;
    background-color: var(--dark-2);
    border: none;
    color: var(--white);
}

.photo{
    background-image: url(../assets/images/eu.png);
    background-size: cover;
    background-color: var(--contrast);
    max-width: 300px;
    height: 350px;
    margin: 20px auto;
    border-radius: 20px;
}

.social-medias{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: var(--dark-2);
}

.social-media-line{
    width: 50px;
    height: 1px;
    background-color: var(--dark-1);
}

.social-media-icons-wrapper{
    margin: 5px;
    color: var(--dark-1);
}

.social-media-icon:visited{
    color: var(--dark-2);
}